body {
    background-color: #fcfffe;
}




/* HERO SECTION */
.hero {
    width: 100%;
    padding: 80px 20px 20px 20px;

}
/* container uses float system */
.hero-container {
    margin-top: 30px;
}

/* left area */
.hero-text {
    padding: 20px;
}

.hero-text h1 {
    font-size: 58px;
    color:#506b47;
    line-height: 1.2;
    margin-bottom: 20px;
}

.hero-text p {
    padding: 10px;
    box-sizing: border-box;
    font-size: 80px;
    color:#506b47;
    margin-bottom: 30px;
    max-width: 90%;
}

/* button */
 .hero-btn {
    text-decoration: none;
    background-color: #3c5524;
    color: #fff;
    padding: 14px 30px;
    font-size: 18px;
    border-radius: 8px;
    display: inline-block;
    transition: 0.3s;


 }
 .hero-btn a {
    text-decoration: none;
 }

.hero-btn:hover {
    background-color: #2d411b;
}

/* right image */
.hero-image img {
    width: 100%;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    margin-top: 20px;
    margin-left: 10px;
}




@media screen and (max-width: 790px) {

   .hero-container {

        text-align: center;
        margin-top: 10px;
        width: 100%;

    }

    .hero_leftside {
        text-align: center;
        margin: 0 auto;
        width: 80%;

    }
    

    .hero_leftside h2 {
        font-size: 8px;
    }

    .hero_leftside p {
        font-size: 16px;
        text-align: center;
    }

    .hero_leftside button {
        width: auto;
        padding: 12px 25px;
    }

    .hero_image img {
        width: 100%;
 
        margin-top: 20px;
    }
}



/* Aim Section */


.aim-section {
    padding: 10px 20px;
    text-align: center;
}

.aim-box {
    width: 80%;
    margin: 0 auto;
    background: #e4efd9;
    color:#506b47;
    padding: 60px 40px;
    border-radius: 25px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.20);
    transition: 0.3s ease;
}

/* Hover lift animation */
.aim-box:hover {
    transform: translateY(-8px);
    box-shadow: 0 18px 35px rgba(0, 0, 0, 0.25);
}

/* Title */
.aim-box h1 {
    font-size: 46px;
    font-weight: 800;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

/* Paragraph */
.aim-box p {
    font-size: 20px;
    line-height: 1.8;
    max-width: 900px;
    margin: 0 auto;
}




/* Tablet */
@media screen and (max-width: 800px) {
    .aim-box {
        width: 95%;
        padding: 50px 25px;
    }

    .aim-box h1 {
        font-size: 36px;
    }

    .aim-box p {
        font-size: 18px;
    }
}

/* Mobile */
@media screen and (max-width: 480px) {
    .aim-box {
        width: 100%;
        padding: 40px 20px;
        border-radius: 18px;
    }

    .aim-box h1 {
        font-size: 30px;
    }

    .aim-box p {
        font-size: 16px;
        line-height: 1.6;
    }
}
/* What you will learn */
.what-you-will-learn-section-title {
    margin-top: 50px;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 40px;
}

.learn-container {
    text-align: center;
    margin: 80px 0;

}


.learn-card {

    position: relative;
    z-index: 1;
    width: 60px;
    padding: 65px;
    min-height: 300px;
    margin-bottom: 20px;
    margin-right:30px ;
    margin-left: 30px;
    border-radius: 16px;
    transition: 0.3s ease;


    
}


.learn-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.12);
}


.icon-circle {
    width: 90px;
    height: 90px;
    background-color: #3c5524;
    border-radius: 50%;
    margin: 0 auto 25px auto;
    position: relative;
    transition: 0.3s ease;
    box-sizing: border-box;
    padding-top: 10px;
}


.learn-card:hover .icon-circle {
    box-shadow: 0 0 18px olivedrab;
}


.icon-circle i {
    font-size: 36px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.learn-card h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 18px;
    color: #1e2d27;
}


.learn-card p {
    font-size: 15px;
    color: #6c757d;
    line-height: 1.5;
    padding: 0 5px;
}


@media (max-width: 768px) {
    .learn-card {
        width: 80%;
        float: left;
        min-height: 300px;
    }
}

/* Mobile */
@media (max-width: 560px) {
    .learn-card {
        width: 50%;
        float: none;
        min-height: 250px;
    }
}





/* new */ 
.park_img img {
    width: 100%;
    height: 330px;
    border-radius: 25px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.12);
}

.park_img {
    margin: 0 15px;
    text-align: center;
    padding: 10px;
    margin-bottom: 15px;
    margin-top: 10px;
}

.why_its_important {
    background-color: #e4efd9;
    border-radius: 20px;
    padding: 20px;

    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
}

.why_its_important_h2 {
    font-size: 30px;
    text-align: center;
    color: #506b47;
    margin-bottom: 10px;
}

.why_its_important_h2 hr {
    width: 80%;
    border: 0;
    border-top: 2px solid #4e6b36;
    margin: 10px auto;
}

.why_its_important_text {
    padding: 10px 20px;
}

.why_its_important_text p {
    font-size: 18px;
    color: #506b47;
    line-height: 1.6;
}




/* Medium screens */
@media screen and (max-width: 988px) {
    .park_img img {
        width: 100%;
        height: 330px;
    }

    .why_its_important_h2 {
        font-size: 24px;
    }

    .why_its_important_text p {
        font-size: 17px;
    }
}


@media screen and (max-width: 768px) {

    .park_img img {
        height: 230px;
        border-radius: 18px;
    }

    .why_its_important {
        padding: 15px;
    }

    .why_its_important_text {
        padding: 5px 10px;
        text-align: center;
    }

    .why_its_important_h2 {
        font-size: 22px;
    }

    .why_its_important_text p {
        font-size: 16px;
    }
}





/* FAQ */


.faq {
    width: 100%;
    font-size: 38px;
    text-align: center;

    color: #2e4b1d;
    font-weight: 800;
}

.accordion-item {
    background-color: #ffffff;
    border-radius: 16px;
    margin: 10px 0;
    padding: 0 0;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 6px 18px rgba(0,0,0,0.15);
    overflow: hidden;
    transition: 0.3s;
}


.question {
    display: block;
    position: relative;
    padding: 22px 25px;
    background: #eef5e6;
    font-size: 20px;
    font-weight: 700;
    color: #3c5524;
    transition: 0.2s;
}


.question .toggle-icon {
    position: absolute;
    right: 25px;
    top: 50%;
    padding: 10px ;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
}

.question:hover {
    background: #e4efd9;
}

/* Answer content */
.answer {
    background-color: #f8fcf3;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.35s ease;
}

.answer-content {
    padding: 18px 25px;
    font-size: 18px;
    color: #506b47;
    line-height: 1.6;
}

.accordion-toggle:checked ~ .answer {
    max-height: 400px;
}

/* Rotate icon when open */
.accordion-toggle:checked + .question .toggle-icon {
    transform: translateY(-50%) rotate(180deg);
}

/* Responsive */
@media screen and (max-width: 768px) {
    .accordion-item {
        width: 95%;
    }

    .question {
        font-size: 18px;
        padding: 18px 55px 18px 16px;
    }

    .answer-content {
        font-size: 16px;
    }

    .faq {
        font-size: 32px;
    }
}

